<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:include="header :: jumbotron"></div>

<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">HOME PAGE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cars">SHOW ALL CARS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cars/add">ADD A NEW CAR</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/cars/search">SEARCH CAR BY ID</a>
    </li>
</ul>
</ul>
<br>
<h1 align="center">Found Car</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td scope="row" data-th-text="${foundCar.id}"></td>
            <td data-th-text="${foundCar.brand}"></td>
            <td data-th-text="${foundCar.model}"></td>
            <td data-th-text="${foundCar.color}"></td>
            <td>
                <form th:action="@{'/cars/' + ${foundCar.id}}" method="get">
                    <button type="submit">EDIT</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/cars/delete/' + ${foundCar.id}}" method="post">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
    </tbody>

</table>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
