<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:include="header :: jumbotron"></div>

<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">HOME PAGE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cars">SHOW ALL CARS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cars/add">ADD A NEW CAR</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  active" href="/cars/search">SEARCH CAR BY ID</a>
    </li>
</ul>


<form th:action="@{/cars/search}" th:object="${car}" th:method="POST">
    <fieldset>
        <legend class="col-form-label">Id of searched car:</legend>
    <div class="form-group col-sm-2">
        <label for="id">Id</label>
        <input type="text" th:field="*{id}" class="form-control" id="id">
    </div>
    <button type="submit" class="btn btn-primary">Search car</button>
    </fieldset>
</form>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
